<a href="https://colab.research.google.com/github/metindrk/metindrk/blob/main/%C4%B0lkphytondersim.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print('Hello World!')

Hello World!

# Yeni Bölüm

# Yeni Bölüm

In [ ]:
number = 5+3j
print(number)

(5+3j)

In [ ]:
username = input("Please enter your name")
print(username)
print(type(username))

In [32]:
username = input("Please enter your name : ").title()
age = int(input("Please enter your age  : "))
print(username); print(age); print(type(age))

Please enter your name : mtn
Please enter your age  : 51
Mtn
51
<class 'int'>

In [20]:
type("username")
type("age")

str

age = int(input("Please enter your age: "))
print(age)
print(type(age))

In [34]:
print('I', end=' ')
print('will say', end=' ')
print("'I missed you'", end=' ')
print('to my mother')

I will say 'I missed you' to my mother

In [ ]:
print('smoking', 'is', 'slowly', 'killing me', sep=' * ')

In [35]:
x = 5
print ('value of x       : ', x)
x += 2
print ("2 more of x      : ", x, "\n") # using string expression '\n', 
                                       # we produce extra line. 
                                       # So that we had empty line.
y = 10
print ('value of y       : ', y)
y -= 2
print ("2 minus y        : ", y, "\n")
z = 6
print ('value of z       : ', z)
z *= 2
print ("2 times z        : ", z, "\n")

value of x       :  5
2 more of x      :  7

value of y       :  10
2 minus y        :  8

value of z       :  6
2 times z        :  12

In [36]:
print('C:\\november\number_expenditure.txt')

C:\november
umber_expenditure.txt

In [38]:
bool(None), bool("0"), bool(""), bool([]), bool({}), bool(0), bool(0.0j)

(False, True, False, False, False, False, False)

In [40]:
bool(0), bool(1)

(False, True)

In [ ]:
-Kadayıf
-İç
   -ceviz
   -fındık
   -fıstık
-Şerbet
  -su
  -şeker
-yumurta

In [ ]:
kadayıf = True
# iç
fındık = False
fıstık = True
ceviz = False

# şerbet
su = True
şeker = True

yumurta = True

# içecek
çay = True
meşrubat = True
limonata = True

yedim = kadayıf and (fındık or fıstık or ceviz) and (su and şeker) and yumurta and (çay or meşrubat or limonata)
print(yedim)

In [42]:
string = "*8, 89, pty, wer,"

In [ ]:
print("clarusway"[5])

In [ ]:
okul = "clarusway"
print(okul)

In [ ]:
print(okul)

In [ ]:
okul[:]

In [44]:
mal = "orange"
print("mal sayısı:", mal[-5:-2])

mal sayısı: ran

In [45]:
mal[-6:4]

'oran'

In [46]:
len("hjkdnn545")

9

In [57]:
isim = "clarusway okulu"
print(isim[3:7], end=" - "); print(isim[:9])

rusw - clarusway

In [ ]:
isim[::2]

In [ ]:
isim[:]

In [ ]:
print(isim[::-1])

In [58]:
isim[-12:10]

'rusway '

In [63]:
isim[-12:2:-3]

'r'

In [60]:
isim[-5:-12:-2]

'oywu'

In [64]:
# a = {0} or and b = [] c = False d = (a and b) 
# print(c or d) 

print({0} and False or [], end=",")
print({0} and False or [])

[],[]

In [65]:
text1 = 'it'
text2 = 'easy'
print(text1 + '\'s very '  + text2)

it's very easy

In [ ]:
print(True and False, end=" ")
print(True and True)
print(False or False, end=" ")
print(False or True and True)

In [ ]:
print([] and True or {0} or not False)

In [ ]:
logic = True and False or not False or False
print(logic)

In [ ]:
x = True or not True
y = True and not True
print(x, y,45, sep = "***")

In [ ]:
Logic = True and False or {}
print(Logic)

In [68]:
x = input ("x")
y = input ("y")
print("{}, {}".format(x,y))

x,y = y,x
print("x =",x,"y =",y)

x8
y7
8, 7
x = 7 y = 8

In [ ]:
print("{9} {7} {1} {10} {3} {2} {5} {8} {6} {0} {4}".format('in','know','bring','to','students.','out','best','teachers','the','Good','how'))

In [ ]:
c = "mtndrk"
print(c[::-1])

In [ ]:
c = "claruswayschool"
print(c[1:9:2])

In [ ]:
fruit = "portakal"
print(fruit[1:8:2])

In [ ]:
import·numpy·as·np
from·matplotlib·import·pyplot·as·plt
ys = 200 + np.random.randn(100)
x = [x for x in range(len(ys))]

plt.plot(x, ys, '-')
plt.fill_between(x, ys, 195, where=(ys > 195), facecolor='g', alpha=0.6)

plt.title("Sample Visualization")
plt.show()

In [ ]:
fruit = 'Orange'
vegetable = 'Tomato'
print("using + :", fruit + vegetable)
print("using * :", 3 * fruit)

In [69]:
fruit = 'orange'
fruit += ' apple (unutma 3 kg alacaksın)'
print(fruit)

orange apple (unutma 3 kg alacaksın)

In [ ]:
print("%.11s" % sentence)

In [111]:
hakediş = float(input("Getir Sipariş Tutarını giriniz              : "))      # (GETİR_YEMEK) İÇİN HAKEDİŞ HESAPLAMASI
ham_komsyn = float(hakediş/100*10)  
komsyn_kdv = float(ham_komsyn/100*18)
komsyn = float((hakediş/100*10)+((hakediş/100*10)/100*18))
hakediş -= komsyn
print("Getir Yemek'e Ödenecek Komisyon (KDV Dahil) : ","%.3f" % komsyn)
print("Getir Yemek'e Ödenecek Komisyon             : ","%.3f" % ham_komsyn)
print("Getir Yemek'e Ödenecek Komisyon (KDV'si)    : ","%.3f" % komsyn_kdv)
print("Teksos Döner'e Ödenecek Olan Toplam         : ","%.3f" % hakediş)

Getir Sipariş Tutarını giriniz              : 1043.50
Getir Yemek'e Ödenecek Komisyon (KDV Dahil) :  123.133
Getir Yemek'e Ödenecek Komisyon             :  104.350
Getir Yemek'e Ödenecek Komisyon (KDV'si)    :  18.783
Teksos Döner'e Ödenecek Olan Toplam         :  920.367

In [ ]:
₺ 1.043,50	₺ 0,00	₺ 114,01	₺ 848,48

In [ ]:
city = "İstanbul"
print(city[::2])
print(city[1::2])
print(city[:6])
print(city[-3:])
print(city[::-1])
print(city[-6:-2])

In [ ]:
a = (1+3)**(2**(1*2/2)/2)
print(a)

In [ ]:
print("C:\\north pole\noise_penguis.txt", end='  ')
print("...........", end='  ')
print("first", "second", "third", sep='\t')

In [ ]:
fruit1 = 'Apple'
fruit2 = 'Orange'
print(2*fruit1, 3*fruit2, sep='  ')

In [ ]:
sentence = "apologizing is a virtue"

print("%.10s" % sentence)  # we get first 11 characters of the string

In [ ]:
print('%(amount)d pounds of %(fruit)s left' % {'amount': 33, 'fruit':'bananas'})

In [ ]:
fruit = 'Orange'
vegatable = 'Tomato'
amount = 4
print("The amount of {} and {} we bought is {} pounds".format(fruit, vegatable, amount))

In [ ]:
print('{state} is the most {adjective} state of the {country}'.format(state='California', country='USA', adjective='crowded'))

In [ ]:
print('{0} is the most {adjective} state of the {country}'.format('California', country='USA', adjective='crowded'))

In [ ]:
print('{} is the most {} state of the {}'.format('California', 'crowded', 'USA'))

In [ ]:
print("{6} {0} {5} {3} {4} {1} {2} ".format('have', 6, 'months', 'a job', 'in', 'found', 'I will'))

In [ ]:
# "Good teachers know how to bring out the best in students." 
print("{9} {7} {1} {10} {3} {2} {5} {8} {6} {0} {4}".format('in', 'know', 'bring', 'to', 'students.', 'out', 'best', 'teachers', 'the', 'Good', 'how'))

In [ ]:
fruit = 'Orange'
vegetable = 'Tomato'
amount = 6
output = f"The amount of {fruit} and {vegetable} we bought are totally {amount} pounds"

print(output)

In [ ]:
my_name = 'METİN'
output = f"My name is {my_name.capitalize()}"

print(output)

In [ ]:
result = f"{4 * 5}"

print(result)

In [ ]:
name = "Joseph"
job = "teachers"
domain = "Data Science"
message = (
     f"Hi {name}. "
     f"You are one of the {job} "
     f"in the {domain} section."
)
print(message)

In [ ]:
name = "Metin"
job = "students"
domain = "Cloud manager"
message = (
    f"Hi {name}. "
    f"You are one of the {job} "
    f"in the {domain} school."
)
print(message)

In [ ]:
name = "Metin"
job = "students"
domain = "Cloud manager"
message = f"Hi {name}. " \
    f"You are one of the {job} " \
    f"in the {domain} school."

print(message)

In [ ]:
print(11//3)

In [ ]:
sonuc = str((5+6)**2) + "121"
print(sonuc)

In [ ]:
sonuc = ('sonuc' + 'sonuc') * 2
print(sonuc)

In [ ]:
str_one = "upper"
str_one += "case"
print(str_one)
str_one += "letter"
print(str_one)
str_one += "end"
print(str_one)

In [ ]:
saat = "05:00"
yer = "okul"
miktar = 2
print("ben sabah {} de uyandım. {} 'a gittim. Gelirken de {} kg aldım.".format(saat, yer, miktar))

In [ ]:
saat = "05:00"
yer = "okul"
miktar = 2
print("ben sabah {} de uyandım. {} 'a gittim. Gelirken de {} kg aldım.".format("05:00","okul", "2"))

In [ ]:
saat = "05:00"
yer = "okul"
miktar = 2
print("ben sabah {1} de uyandım. {0} 'a gittim. Gelirken de {2} kg aldım.".format("okul", "05:00", 2))

In [ ]:
text = f"{str(11)+'11'}"
print(text)

In [ ]:
text = f"ali veli {'seli'.replace('s', 'd')}"
print(text)

In [ ]:
name = "MARİAM"
print(f"My name is {name.capitalize()}")

In [ ]:
name = "Joseph"
job = "teachers"
domain = "Data Science"
message = (
    f"Hi {name}. "
    f"You are the one of {job} "
    f"in the {domain} section."
)
print(message)

In [ ]:
name = "Susan"
age = "young"
gender = "lady"
scholl = "CLRWY IT universty"
output = (
    f"{name}" is a {age}"
    f"{"
)
print(f"{} is a {} {} and she is astudent at the {}".format())

In [ ]:
para = 1000
para = para = para*1.07**7
print(para)

In [ ]:
gun_sayisi = 7
account = 1000.0
for i in range(gun_sayisi):
    account *= 1.07
print("at the end of 7th day your account is:  %.2f" % (account))

In [ ]:
# Hello! I am a new programmer and I love Clarusway.
# Note : Use only given three words ("Hello", "new", "love") in the .format parentheses.
text = "{} I am a {} pragrammer and I {} Clarusway."\
      .format('Hello!', 'new', 'love') 
print(text)

In [ ]:
word = 'clarusway'
n = 3
front = word[:n] 
back = word[n+1:]
print(front + back)

In [ ]:
city = "SARAJEVO"

text = f"I live in {city.capitalize()}."
print(text)

In [ ]:
phrase = "myemailaddress@clarusway.com"

print(len(phrase))
print(phrase.startswith("@", 14))
print(phrase.endswith(".", 15, 24))

In [ ]:
word = 'clarusway'
front = word[:3] 
back = word[4:]
print(front + back)

In [ ]:
fahrenheit = float(input("Enter temperature in fahrenheit: "))
celsius = (fahrenheit - 32) * 5/9
print('%.2f Fahrenheit is: %0.2f Celsius' %(fahrenheit, celsius))

In [ ]:
celsius = float(input("Enter temperature in celsius: "))
fahrenheit = (celsius * 9/5) + 32
print('%.2f Celsius is: %0.2f Fahrenheit' %(celsius, fahrenheit))

In [ ]:
celsius = float(input("Enter temperature in celsius: "))
fahrenheit = (celsius * 9/5) + 32
print(fahrenheit)

In [ ]:
# Python Program - Get Float Input from User
num = float(input("Enter a float value: "))
print(num)

In [ ]:
print( (3**2)//2 )

In [ ]:
# print(‘hello’, ‘-how’, ‘are’, ‘-you’)
# B. print(‘hello’, ‘how’, ‘are-’, ‘you’ + ‘-‘ * 4)
print("hello", "-", "how - are - you")
# D. print(‘hello’ + ‘-‘ + ‘how’ + ‘-‘ + ‘are’ + ‘you’)

In [ ]:
print(2**7)

In [ ]:
text = "Clarusway, Clarusway, Clarusway,"
print(text, "\n","\t", text, "\n""\t\t", text[0:31], sep="")

In [ ]:
enter temperature in celsius:Traceback (most recent call last):
  File "code.py", line 1, in <module>
    celsius = float(input("enter temperature in celsius:"))
EOFError: EOF when reading a line

In [ ]:
# to convert Celsius (centigrade) to Fahrenheit, the formula as shown: F = C * 9/5 + 32.
celsius = float(input("Please Enter temperature in celsius: "))
fahrenheit = (celsius * 9/5) + 32
print("Fahrenheit is   :", fahrenheit)

In [ ]:
x = 0.1 + 0.1 + 0.1

print(x == 0.3)
print(x)

print("----------------------")

x = Decimal('0.1') + Decimal('0.1') + Decimal('0.1')

print(x == Decimal('0.3'))
print(float(x) == 0.3)
print(x)

In [ ]:
# Program to convert Kilometers to Miles
km = float(input("Enter the value in kilometers: "))

# 1 Kilometre = 0.621371 Mile
ratio = 0.621371

# Converting km to mi.
miles = km * ratio

print("The entered value in Miles: ", miles)

In [ ]:
# Taking kilometers input from the user
km = float(input("Enter the value in kilometers: "))

ratio = 0.621371  # 1 Kilometre = 0.621371 Mile.

miles = km * ratio   # Converting km to miles

print('%0.2f km is equal to %0.2f miles.' %(km,miles))

In [ ]:
my_data = (1, [9, 8, 7], "World")
print(my_data)

# changing the element of the list
# this is valid because list is mutable
my_data[1][2] = 99
print(my_data)

In [ ]:
# tuple of fruits
my_tuple = ("Apple", "Orange", "Grapes", "Banana")

# iterating over tuple elements
for fruit in my_tuple:
  print(fruit)

In [ ]:
num = float(input("Enter a float value: "))
print(num)

In [ ]:
num1 = float(input('Enter First Number: '))
num2 = float(input('Enter Second Number: '))

print("Value of num1 before swapping: ", num1)
print("Value of num2 before swapping: ", num2)

In [ ]:
text = "Clarusway, Clarusway, Clarusway,"
print(text, "\n","\t", text, "\n""\t\t", text, sep="")

In [ ]:
# Python program to swap two variables

num1 = input('Enter First Number: ')
num2 = input('Enter Second Number: ')

print("Value of num1 before swapping: ", num1)
print("Value of num2 before swapping: ", num2)

# swapping two numbers without using temporary variable
num1, num2 = num2, num1

print("Value of num1 after swapping: ", num1)
print("Value of num2 after swapping: ", num2)

In [ ]:
# Python program to swap two variables

num1 = input('Enter First Number: ')
num2 = input('Enter Second Number: ')

print("Value of num1 before swapping: ", num1)
print("Value of num2 before swapping: ", num2)

# swapping two numbers using temporary variable
temp = num1
num1 = num2
num2 = temp

print("Value of num1 after swapping: ", num1)
print("Value of num2 after swapping: ", num2)

In [ ]:
name = input("what is your name?  ")
print("Hello ", name)
age = int(input("How old are you?    "))
if age>=70:
  print("You are aged to perfection.")
else:
  print("You are spring chicken")

In [ ]:
hours = int(input("How many hours did you work weekly? "))
if hours <= 40:
      pay = hours*20
else:
      pay = ((hours - 40)*1.5*20) + (40*20)
print = ("your weekly wage is :", pay)

How many hours did you work weekly? 45

In [ ]:
for i in (1, 100, 2):
  print (i)
  islem = i**2+5
  print(islem)
print("end of loop")

In [ ]:
counter = 0
while counter < 20:
    print("Hello World!"counter)
    #counter = counter + 1
    counter += 1
print("End of while loop")

In [ ]:
hour = print(int (input("work hours for day?")))
week_hour= hour * 7
if week_hour >= 40:
   hour_for_pay = 20 * 1.5
   else
   hour_for_pay = 20
week_payment = print("week paymenr =" , hour_for_pay , "$")

SyntaxError: ignored

In [ ]:
if int(age) >= 75 or cigarette.startswith("E") or immune.startswith("H") or chronic.startswith("E") :
  print("Risk grubundasınız!")
else :
  print("Risk grubunda değilsiniz!")

In [ ]:
age = True
chronic = True
immune = True
risk = age or chronic or immune
print(risk)

Alternatif grup çalışmasında çıkan çözüm

age = input("Yaşınızı Giriniz :")
chronic = input("Kronik Rahatsızlığınız Var mı?(E/H:")
immune = input("Bağışıklığınız Kuvvetli mi?(E/H)")
cigarette = input("Sigara Kullanıyor musunuz?(E/H)")

if int(age) >= 75 or cigarette.startswith("E") or immune.startswith("H") or chronic.startswith("E") :
  print("Risk grubundasınız!")
else :
  print("Risk grubunda değilsiniz!")

In [ ]:
age = input("Yaşınızı Giriniz :")
chronic = input("Kronik Rahatsızlığınız Var mı?(E/H): ")
immune = input("Bağışıklığınız Kuvvetli mi?(E/H) ")
cigarette = input("Sigara Kullanıyor musunuz?(E/H) ")

if int(age) >= 75 or cigarette.startswith("E") or immune.startswith("H") or chronic.startswith("E") :
  print("Risk grubundasınız!")
else :
  print("Risk grubunda değilsiniz!")

In [ ]:
Problem :

Task : Estimating the risk of death from coronavirus.

Consider the following questions in terms of True/False regarding anyone else.

Are you a cigarette addict older than 75 years old? Variable → age

Do you have a severe chronic disease? Variable → chronic

Is your immune system too weak? Variable → immune

Set a logical algorithm using boolean logic operators (and/or) and the given variables in order to give us True (there is a risk of death) 
or False (there is not a risk of death) as a result.
age =  # can be assigned only True/False
chronic =  # can be assigned only True/False
immune =  # can be assigned only True/False
risk = ? (True or False)

In [ ]:
age = True
chronic = True
immune = True
risk = age or chronic or immune
print(risk)

In [ ]:
age = int(input("How old are you? : "))
cigarette = input("Are you a cigarette addict? (True/False) ")
chronic = input("Do you have a severe chronic disease? (True/False)")
immune = input("Is your immune system too weak? (True/False)")
True = Evet, False = Hayır
if int(age) >= 75 or cigarette.startswith("T") or immune.startswith("F") or chronic.startswith("T") :
  print("Risk grubundasınız! (True)")
else :
  print("Risk grubunda değilsiniz! (False)")

In [ ]:
text = "www.clarusway.com"
print(text.endswith('.com'))
print(text.startswith('http:'))

In [ ]:
x = 25
y = 65
x, y = y, x
print(x, y)

In [ ]:
print("Enter the array:\n")   
userInput = input().splitlines()
print(userInput)

In [ ]:
x, y = input("Enter a two value: "). split()
print("Number of boys: ", x)
print("Number of girls: ", y)
print()

In [ ]:
# AppleApple OrangeOrangeOrange
fruit1 = 'Apple'
fruit2 = 'Orange'

print(2*fruit1+' '+3*fruit2)  
# sep=' ' ''  ' ' + =

In [ ]:
phrase = 'I have %d %s and %.f brothers' % (4, "children", 5)  # %.f = %.0f, 
print (phrase)  # %d = numeric, %s=string

In [ ]:
phrase = 'I have %.2d %s and %.3f brothers' % (4, "children", 5)  # %.f = %.0f, 
print (phrase)  # %d = numeric, %s=string

In [ ]:
sentence = "apologizing is a virtue"
print("%.11s" % sentence)  # we get first 11 characters of the string

In [ ]:
print('%(amount)d pounds of %(fruit)s left' % {'amount': 33, 'fruit':'bananas'})

In [ ]:
print('%d pounds of %s left' %(33,'bananas'))

In [ ]:
fruit = 'Orange'
vegetable = 'Tomato'
amount = 4
print('The amount of {} and {} we bought are {} pounds'.format(fruit, vegetable, amount))

In [ ]:
print('{state} is the most {adjective} state of the {country}'.format(state='California', country='USA', adjective='crowded'))

In [ ]:
print('{} is the most {} state of the {}'.format("California", "crowded", "USA"))

In [ ]:
print('{0} is the most {2} state of the {1}'.format("California", "USA", "crowded"))

In [ ]:
state='California'
country='USA'
adjective='crowded'
print('{} is the most {} state of the {}'.format(state, adjective, country))

In [ ]:
name = "Joseph"
job = "teachers"
domain = "Data Science"
message = (f"Hi {name}. "
     f"You are one of the {job} "
     f"in the {domain} section.")
print(message)

In [ ]:
name = "Joseph"
job = "teachers"
domain = "Data Science"
message = f"Hi {name}. " \
     f"You are one of the {job} " \
     f"in the {domain} section."
print(message)

In [ ]:
!pip install haversine

In [ ]:
x = 25
x //= 4
print(x)

In [ ]:
phrase = "myemailaddress@clarusway.com"

print(len(phrase))
print(phrase.startswith("@", 14))
print(phrase.endswith(".", 15, 24))

In [ ]:
print("Actions speaks louder than words".upper().swapcase().capitalize())

In [ ]:
sentence = "I live and work in Virginia"
swap_case = sentence.swapcase()
print(swap_case)
print(swap_case.capitalize())  # changes 'i' to uppercase and
# the rest to lowercase

In [ ]:
source_string = "interoperability"
print(source_string.strip("yi"))  
# removes trailing "y" or "i" or "yi" or "iy" from both sides

In [ ]:
source_string = "interoperability"
print(source_string.lstrip("in"))  
# removes "i" or "n" or "in" or "ni" from the left side

In [ ]:
space_string = "     listen first      "
print(space_string.lstrip())  # removes spaces from the right side

In [ ]:
space_string = "     listen first      "
print(space_string.strip())  # removes all spaces from both sides

In [ ]:
print('www', 'clarusway', "com", sep='.', end=' ')
print('will', end=' ')
print('open', end=' ')
print('your', end=' ')
print('path', end='.')

In [ ]:
print("clarusway" + str(2020))

In [ ]:
x = 12
y = x + 21
x = 2
print(y//x)
# 16

In [ ]:
# Write a code to print the sum of 12 and 21.
print(12+21)

In [ ]:
number="32"
print(1988+int(number))

In [ ]:
print("{4} {9} {1} {7} {5} {0} {6} {8} {3} {2}".format('while', 'dream', 'work.', 'and', 'Some', 'success', 'others', 'of', 'wake up', 'people'))

In [ ]:
# ('job.', 'a', 'will', 'I', 'find')
# "I will find a job."
# print("{0} {1}".format('first', 'second'))
print("{3} {2} {4} {1} {0}".format('job.', 'a', 'will', 'I', 'find'))

I will find a job.

In [ ]:
print(not None or 5)

In [ ]:
 section_3_5 = "python data types and useful operations"
 print(str.title(section_3_5))

In [ ]:
{0}
or
and
[]
False

In [ ]:
print({0} and False or [])

In [ ]:
print(float("140" * int(input("Enter a number:" ))))

In [ ]:
print(int("5" + "1"))
print(str("5" + "1"))
print("5" + "1")

In [ ]:
# sentence = "The less you sleep and eat, the better your life will be."
var1 = "sleep"
var2 = "eat"
var3 = "better"
var4 = "life"
print(f"The less you {var1} and {var2}, the {var3} your {var4} will be.")

In [ ]:
city = "SARAJEVO"
# “I live in Sarajevo.”
# using .capitalize() and f-string methods with the city variable below.
print(f"I live in {city.capitalize()}.")

In [ ]:
text = "clarusway"
print(text.startswith("u", 4, 8))

In [ ]:
text = "clarusway"
text1 = text.replace("c", "C")
print(text1)

In [ ]:
age = True / False
chronic = True / False
immune = True / False

risk = immune and (age or chronic)

print((risk and "There is a risk of death") or ("There is NOT a risk of death"))

In [ ]:
text = "the better the family, the better the society"
print(text.title())

In [ ]:
text = "   \t    listen first\t" #     ,\n, \t"
print(text.strip)

In [ ]:
print("clarusway".strip("cy"))

In [ ]:
text = 'tyou can learn almost everything in pre-classz'
print(text.strip('tz').upper())

In [ ]:
a = 1
print(-a)

In [ ]:
b =-11
print(-b)

In [ ]:
a = 3
b = 4
print("the sum of {} + {} is  :{}".format(a, b, (a+b)))

the sum of 3 + 4 is  :7

In [ ]:
print("The multip.. of {} * {} is  : {}".format(a,b, a*b))

In [ ]:
text = "{:.2f}, {:.3f}, {:.4f}".format(3.15, 6.5685, 9.855556)
print(text)

3.15, 6.569, 9.8556

In [ ]:
text = "{:.2}, {:.3}, {:.4}".format(3.15, 6.5685, 9.855556)
print(text)

3.1, 6.57, 9.856

In [ ]:
text = "{:.2}, {:.3}, {:.4}".format("a3.1463", "6.b5685", "9.855556c")
print(text) # t

In [ ]:
text = "{:>10}".format("test")
print(text)

In [ ]:
text = "{:<10}".format("test")
print(text)

In [ ]:
text = "formatlama satırı {:>20} bu da textin son kısmı".format("test")
print(text)

formatlama satırı                 test bu da textin son kısmı

In [ ]:
text = "formatlama satırı {:<20} bu da textin son kısmı".format("okkes")
print(text)

In [ ]:
text = "{:^20}".format("abc")
print(text) #ortalama

In [ ]:
text = "{:10.5}".format("hippopotamus")
print(text)

In [ ]:
text = "{:>15.5}".format("hippopotamus")
print(text)

In [ ]:
text = "{:+}".format(55)
print(text)

In [ ]:
age = True
cronic = False
immune = True
risk = age or cronic or immune
print(risk)

In [ ]:
hocam sorudan anladığım kadarıyla input almamız gerektiğini düşündüm . ve ;
print(" TASK : Estimating the risk of death from coronavirus")
print("")
print(" !!Case sensitive!! Please give answers just with 'y or n' "  )
print("")
age = input("Are you a cigarette addict older than 75 years old?  y/n ")
chronic = input("Do you have a severe chronic disease?  y/n ")
immune = input("Is your immune system too weak?  y/n ")
if age =="y":
    age=True
elif age!="y":
    age=False
if chronic =="y":
    chronic=True
elif chronic!="y":
    chronic=False
if immune =="y":
    immune=True
elif immune!="y":
    immune=False
print("")
print(age, chronic, immune)
print("")
if age and chronic and immune ==True:
    print("there is a risk of death")
else:
      print("there is not a risk of death")

D1397 - Kaan  10:43 PM
hocam ben böyle yaptım yanlış mı ?
age =  int(input("Are you a cigarette addict older than 75 years old?"))
if age >0:
    print("True")
if age <1:
    print("False")
chronic = int(input("Do you have a severe chronic disease?"))
if chronic >0:
    print("True")
if chronic <1:
    print("False")
immune = int(input("Is your immune system too weak?"))
if immune >0:
    print("True")
if immune <1:
    print("False")
risk = age or chronic or immune
print(risk)

In [ ]:
name = "John"
age = 23
if name == "John" and age == 23:
    print("Your name is John, and you are also 23 years old.")

if name == "John" or name == "Rick":
    print("Your name is either John or Rick.")

Your name is John, and you are also 23 years old.
Your name is either John or Rick.

In [ ]:
x = 2
print(x == 2) # prints out True
print(x == 3) # prints out False
print(x < 3) # prints out True

In [ ]:
age = int(input("Are you a cigarette addict older than 75 years old?"))  # İf input if yes 1 or 0
if age > 0:
    print("True")
if age < 1:
    print("False")
chronic = int(input("Do you have a severe chronic disease?"))
if chronic >0:
    print("True")
if chronic <1:
    print("False")
immune = int(input("Is your immune system too weak?"))
if immune >0:
    print("True")
if immune <1:
    print("False")
risk = age or chronic or immune
print(risk)

In [ ]:
warning = 'You must quit smoking!'

print(len(warning))

In [ ]:
city = ['New York', 'London', 'Istanbul', 'Seoul', 'Sydney']
empty_list = [] 
empty_list.append('114')
empty_list.append(city)
empty_list.append('plastic-free sea')
empty_list.insert(0, 113)
empty_list[0] = "clarusway"
# empty_list.sort()
print('my list :', empty_list)

In [ ]:
city = ['New York', 'London', 'Istanbul', 'Seoul', 'Sydney']
city.append('Addis Ababa')

print(city)

In [ ]:
city = ['New York', 'London', 'Istanbul', 'Seoul', 'Sydney', 'Addis Ababa']
city.insert(4, 'Stockholm')

print(city)

In [ ]:
city = ['New York', 'London', 'Istanbul', 'Seoul', 'Sydney', 'Addis Ababa']
city.remove("London")
print(city)

In [ ]:
city = ['New York', 'London', 'Istanbul', 'Seoul', 'Sydney', 'Addis Ababa']
city.sort()
print(city)

In [ ]:
city = ['Addis Ababa', 'Istanbul', 'New York', 'Seoul', 'Stockholm', 'Sydney']
print(len(city))

In [ ]:
my_list = [1, 3, 5, 7]
print(my_list * 3)

In [ ]:
city = ['New York', 'Stockholm', 'Istanbul', 'Seoul', 'Sydney', 'Addis Ababa']
city[1] = 'Melbourne'  # we assign 'Melbourne' to index 1
print(city)

In [ ]:
city = ['New York', 'Stockholm', 'Istanbul', 'Seoul', 'Sydney', 'Addis Ababa']
city.append('Melbourne')  # we add 'Melbourne' to the end of list
print(city)

In [ ]:
city = ['New York', 'Stockholm', 'Istanbul', 'Seoul', 'Sydney', 'Addis Ababa']
city.insert(5, 'Melbourne')  # we insert 'Melbourne' as fifth element of list
print(city)

In [ ]:
city = ['New York', 'Stockholm', 'Istanbul', 'Seoul', 'Sydney', 'Addis Ababa']
city[1] = 'Melbourne'  # we assign 'Melbourne' to index 1
print(city)

['New York', 'Melbourne', 'Istanbul', 'Seoul', 'Sydney', 'Addis Ababa']

In [ ]:
# Python program to swap two variables

x = 5
y = 10

# To take inputs from the user
#x = input('Enter value of x: ')
#y = input('Enter value of y: ')

# create a temporary variable and swap the values
temp = x
x = y
y = temp

print('The value of x after swapping: {}'.format(x))
print('The value of y after swapping: {}'.format(y))

In [ ]:
x = 5
y = 10
x, y = y, x
print('The value of x after swapping: {}'.format(x))
print('The value of y after swapping: {}'.format(y))

In [ ]:
city_list = [['New York', 'London', 'Istanbul', 'Seoul', 'Sydney']]
print(city_list[0][2])

Istanbul

In [ ]:
city_list = [['New York', 'London', 'Istanbul', 'Seoul', 'Sydney']]
print(city_list[0][2][3])

In [ ]:
city = ['New York', 'Istanbul']
cclass = ['11/B','11/C', '10/A', '10/B', '10/C', '12/A', '12/B', '12/C']
cclass.append(city)
cclass.append('10/D')
cclass.insert(3,'9/A')
cclass[8]='12/D' 
print(cclass)

['11/B', '11/C', '10/A', '9/A', '10/B', '10/C', '12/A', '12/B', '12/D', ['New York', 'Istanbul'], '10/D']

In [ ]:
fruits = ['apple', 'banana', 'watermelon', 'orange', 'mango', 'avocado']

fruit_list = []
fruit_list.insert(0, fruits)
print(fruit_list[0][2][7])

l

In [ ]:
numbers = [1, 3, 5, 7, 9, 11, 13, 15, 17]
print(numbers[2:5])

[5, 7, 9]

In [ ]:
even_numbers = [2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

print(even_numbers[4:9])

[10, 12, 14, 16, 18]

In [ ]:
print(len([[12, 34, 56]][0]))

3

In [ ]:
print(len([[12, 34, 56]]))

1

In [ ]:
print(len([[12, 34, 56]][0]))

3

In [ ]:
country = ['USA','Brasil', 'UK','Germany','Turkey']
print(country)

['USA', 'Brasil', 'UK', 'Germany', 'Turkey']

In [ ]:
mylist = ['yuı', 'jj',2020]
print(mylist)

['yuı', 'jj', 2020]

In [ ]:
yil = "2020 is hard"
mylist=(yil)
print(mylist)

2020 is hard

In [ ]:
yil_list_2 = ["2020 is hard"]
print(yil_list_2)

['2020 is hard']

In [ ]:
bos2 = []
print(bos2)

[]

In [ ]:
listem = []
listem.append(11)
print(listem)

[11]

In [ ]:
kardeşler = ["ali","veli"]
kardeşler.append("osman") # list is mutable
kardeşler.append("hasan")
kardeşler.append(3.14)
print(kardeşler)

['ali', 'veli', 'osman', 'hasan', 3.14]

In [ ]:
kardeşler.pop(1)
print(kardeşler)

['ali', 'hasan']

In [ ]:
my_list = [1,2,3,4]
my_list.insert(4, 5)
print(my_list)

[1, 2, 3, 4, 5]

In [ ]:
my_list = [1,2,3,4]
my_list.insert(10, 5)
print(my_list)

[1, 2, 3, 4, 5]

In [ ]:
my_list = [1,2,3,4]
my_list.sort(reverse=True)
print(my_list)

[4, 3, 2, 1]

In [ ]:
ord("A"), ord("B"), ord("a"), ord("b")

(65, 66, 97, 98)

In [ ]:
list_3 = [True, False]
list_3.sort()
print(list_3)

[False, True]

In [ ]:
kardeşler.insert(1, 'deli')
print(kardeşler)

['ali', 'deli', 'hasan']

In [ ]:
list_4 = [44, 45, -1]
list_4.sort()
print(list_4)

[-1, 44, 45]

In [ ]:
chr(152)   # aski kod

'\x98'

In [ ]:
dolar = float(input("1 $ kaç TL? =   "))
if dolar >= 11.00 :
    print("dolar satmam lazım.")
else: 
    print("Beklemem lazım.")

1 $ kaç TL? =   14
dolar satmam lazım.

In [ ]:
>>> list(range(10))
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
>>> list(range(1, 11))
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
>>> list(range(0, 30, 5))
[0, 5, 10, 15, 20, 25]
>>> list(range(0, 10, 3))
[0, 3, 6, 9]
>>> list(range(0, -10, -1))
[0, -1, -2, -3, -4, -5, -6, -7, -8, -9]
>>> list(range(0))
[]
>>> list(range(1, 0))
[]

[]

In [ ]:
#Begin
INPUT hours, rate
IF hours < 40
THEN
    pay = hours * rate
ELSE 
    pay = 40 * rate + (hours - 40) * rate *1.5
OUTPUT pay
#End

In [ ]:
#Lists are mutable i.e they can be edited.
#Lists are slower than tuples.   Syntax: 
list_1 = [True, 'Space', 20]
#TUPLEs :
#Tuples are immutable (tuples are lists which can’t be edited).
#Tuples are faster than list.  Syntax: 
tup_1 = (True, 'Space', 20)
print(list_1)
print(tup_1)

[True, 'Space', 20]
(True, 'Space', 20)

In [ ]:
my_mix_tuple = (0, 'bird', 3.14, True)
print(my_mix_tuple)
print(len(my_mix_tuple))

(0, 'bird', 3.14, True)
4

In [ ]:
a = 3
t1 = a == 3         #sayı 3 mü?
t2 = a < 4          #sayı 4'ten küçük mü?
t3 = a % 2 == 1     #sayı bir tek sayı mı?
all([t1, t2, t3])

True

In [ ]:
liste = ['elma', 'armut', 'erik']
temsil = ascii(liste)
print(temsil)
print(type(temsil))
temsil[:9]

['elma', 'armut', 'erik']
<class 'str'>

"['elma', "

In [ ]:
bayt = bytes('kadın', encoding='utf-8')
kardiz = str(bayt, encoding='ascii', errors='ignore')
print(kardiz)
print(bayt)

kadn
b'kad\xc4\xb1n'

In [ ]:
l = [1, 2, 3]
sum(l, 10)

16

In [ ]:
callable(ord)

True

In [ ]:
string = "ali"
string = string.upper()
string

'ALI'

In [ ]:
print("clarusway" + str("2020"))

clarusway2020

In [ ]:
sayılar = range(1, 11)
print(list(sayılar))
set(sayılar)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [ ]:
mix_tuple = ('11', 11, [2, 'two', ('six', 6)], (5, 'fair'))
mix_tuple[2][2][0]

'six'

In [ ]:
mix_tuple[2].append(False)
print(mix_tuple)

('11', 11, [2, 'two', ('six', 6), False], (5, 'fair'))

In [ ]:
mix_tuple = ('11', 11, [2, 'two', ('six', 6)], (5, 'fair'))
#mix_tuple[-1][-1]
mix_tuple[3][1]

'fair'

In [ ]:
first_dict = {1: "one", "two": 2, False: [1, 2, 3], 1.5:("one", "two"), (1,2):"clrsw"}
print(first_dict)

{1: 'one', 'two': 2, False: [1, 2, 3], 1.5: ('one', 'two'), (1, 2): 'clrsw'}

In [ ]:
second_dict = {'one':[1, 2], "two": 2, False: [1, 2, 3], 1.5:("one", "two"), (1,2):"clrsw"}
print(second_dict)

{'one': [1, 2], 'two': 2, False: [1, 2, 3], 1.5: ('one', 'two'), (1, 2): 'clrsw'}

In [ ]:
dict(isim ="ali veli")

{'isim': 'ali veli'}

In [ ]:
dict(name1 = "Fatih", name2 = "Nurbanu", name3 = "ali", name4 = "veli")

{'name1': 'Fatih', 'name2': 'Nurbanu', 'name3': 'ali', 'name4': 'veli'}

In [ ]:
dict(sayılar= [1,2,3], harfler= {1:'bir'})

{'harfler': {1: 'bir'}, 'sayılar': [1, 2, 3]}

In [ ]:
family ={'name1' : "Fatih",
         'name2' : "osman",
         'name3' : "ahmet",         
         }
family['name4'] = 'Yurdagül'
print(family)

{'name1': 'Fatih', 'name2': 'osman', 'name3': 'ahmet', 'name4': 'Yurdagül'}

In [ ]:
dict_by_dict = dict(animal='dog', planet='neptun', number=40, pi=3.14, is_good=True)
print(dict_by_dict)

{'animal': 'dog', 'planet': 'neptun', 'number': 40, 'pi': 3.14, 'is_good': True}

In [ ]:
bir = "one"
bir

'one'

In [ ]:
sehir = "İstanbul"
isim = "Yasemin"
Nüfus = 1000
Yağmurlumu = False

In [ ]:
benim = {1 : sehir, isim : "bayan", "nüfusum" : Nüfus, "hava_yağmurlu_mu" : Yağmurlumu}
benim

{1: 'İstanbul', 'Yasemin': 'bayan', 'hava_yağmurlu_mu': False, 'nüfusum': 1000}

In [ ]:
benim["Yasemin"]

'bayan'

In [ ]:
benim.update({"a" : 1, "b" : 2})
benim

{1: 'İstanbul',
 'Yasemin': 'bayan',
 'a': 1,
 'b': 2,
 'hava_yağmurlu_mu': False,
 'nüfusum': 1000}

In [ ]:
#The most frequent element
numbers = [-1, 3, 7, 4, 3, 0, 3, 16, 3, 7, 0, 0, 1]
max(numbers)

16

In [ ]:
max(2,3,5)

5

In [ ]:
empty = []
max(empty, default="boş")

'boş'

In [ ]:
sequence = [1, 1, 1, 1, 2, 2, 2, 3, 3,4]
print(sequence)

[1, 1, 1, 1, 2, 2, 2, 3, 3, 4]

In [ ]:
max(sequence)

4

In [ ]:
sequence.count(3)

2

In [ ]:
sequence.count(2)

3

In [ ]:
sequence.count(4)

1

In [ ]:
numbers

[-1, 3, 7, 4, 3, 0, 3, 16, 3, 7, 0, 0, 1]

In [ ]:
max(numbers)

16

In [ ]:
numbers.count(16)

1

In [ ]:
max(numbers, key = numbers.count)

3

In [ ]:
the_most = max(numbers, key = numbers.count)

In [ ]:
numbers.count(the_most)

4

In [ ]:
max(5, 6, 5, 3, 6)

6

In [ ]:
sehirler = ["istanbul", "ağrı", "ankara", "van"]

In [ ]:
sorted(sehirler) # sorted by ascending ASCII

['ankara', 'ağrı', 'istanbul', 'van']

In [ ]:
sorted(sehirler, key=len) # sorted by length which is defined with key parameter

['van', 'ağrı', 'ankara', 'istanbul']

In [ ]:
sorted(sehirler, key=len, reverse = True) #sorted by reverse with descending

['istanbul', 'ankara', 'ağrı', 'van']

In [ ]:
print(list(range(1,11)), end=', '); print(tuple(range(1,11)), end=', '); print(set(range(1,11)))
print()

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10], (1, 2, 3, 4, 5, 6, 7, 8, 9, 10), {1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [ ]:
print("Hello".replace("l", "e"))                # REPLACE METHOD UYGULAMASI
print("Hello".replace("l", "e", 1))
print("Hello".replace("l", "e", 3))
print("Hello".replace("l", ""))
print("Hello".replace("l", "e"))

Heeeo
Heelo
Heeeo
Heo
Heeeo

In [ ]:
print("xyyzxyzxzxyy".count('xyy', 2, 11))
print("xyyzxyzxzxyy".count('xyy', 3, 12))

0
1

In [ ]:

print('abcdefcdghcd'.split('cd'))    # SPLİT UYGULAMASI
print('abcdefcdghcd'.split('d'))

['ab', 'ef', 'gh', '']
['abc', 'efc', 'ghc', '']

In [ ]:
'abcdefcdghcd'.split()

['abcdefcdghcd']

In [ ]:
a = int(input("a kenarını giriniz :"))
b = int(input("b kenarını giriniz :"))
c = float(a**2 + b**2)**(1/2)
print(c)

a kenarını giriniz :2
b kenarını giriniz :1
2.23606797749979

In [ ]:
boy = float(input("boy giriniz:"))          # BOY KİLO ENDEKS PROGRAMI
kilo = int(input("kilo giriniz :"))
endeks = kilo/(boy**2)
if endeks < 18.5:
  print("zayıf")
elif 18.5 < endeks <= 25:
  print("normal")
elif 25 < endeks <= 30:
  print("kiolu")
elif endeks >30:
  print("obez")

boy giriniz:1.80
kilo giriniz :98
obez

In [ ]:
row = 4
for i in range(row,0,-1):
  for j in range(0,i)
    print("*", end=" ")
  print()

SyntaxError: ignored

In [ ]:
for k in range(5,0,-1):
    for i in range(k):
        print("*", end= " ")
    print()

* * * * *
* * * *
* * *
* *
*

In [ ]:
numbers = [2, 4, 6, 4, 7, 8, 9, 1, 10]

cift_sayilar = []
tek_sayilar = []

for i in numbers:
  if i % 2 == 0:
    cift_sayilar.append(i)
  elif i % 2 == 1:
    tek_sayilar.append(i)

print(sorted(set(cift_sayilar))) # 4 sayısı bir daha yazılmasın diye set kullandım
print(sorted(set(tek_sayilar)))

[2, 4, 6, 8, 10]
[1, 7, 9]

In [10]:
basket = ['apple', 'peach', 'blackberry']
fruit = '....'

if fruit not in basket :
    print('I can have a little ')
else :
    print('I have already ')

I can have a little

In [11]:
weight = 80
if weight > 100:
    print("That's too heavy!")
elif weight > 75:
    print("I can lift that!")
else:
    print("That's too light!")

I can lift that!

In [13]:
audience = "baby"
if audience == "kid":
    print("it is free to go to cinema")
elif audience == "teen":
    print("discounted price!")
elif audience == "adult":
    print("normal price")
else:
    print("No such audience, stay at your home!")

No such audience, stay at your home!

In [ ]:
Write a program that satisfies the given conditions below. Define the name of the variable as number.

If the number is equal or greater than 10, print : 'The number is equal or greater than 10',
If the number is less than 10, print : 'The number is less than 10'.
Note that; Suppose the number is 23. number = 23 is pre-defined for you. You don't need to use the input() function or assign another value to variable number.

For example:

Test	Result
number = 23
The number is equal or greater than 10

In [24]:
number = 10
if number >= 10:
  print("The number is equal or greater than 10")
elif number < 10:
  print("The number is less than 10")

The number is equal or greater than 10

In [ ]:
# Let us write a program that asks you to enter your exam score and calculates the range in which your degree is based on your exam score. 
# Try to run this code on your Jupyter Lab cell if available.

In [120]:
score = int (input("Enter your score : "))
if score >= 90:
    if score >= 95:
        Score_letter="A+"
    else:
        Score_letter="A"
elif score >= 80:
    if score >= 85:
        Score_letter="B+"
    else:
        Score_letter="B"
else:
    Score_letter="below B"
print("Your degree : %s"% Score_letter)

Enter your score : 80
Your degree : B

In [ ]:
score = int (input("Enter your score :"))

if score >= 90:
    if score >= 95:
        Score_letter="A+"
    else:
        Score_letter="A"
elif score >= 80:
    if score >= 85:
        Score_letter="B+"
    else:
        Score_letter="B"
else:
    Score_letter="below B"

print ("Your degree: %s" % Score_letter)

In [112]:
my_list = [1,2,3,4,5,6]
new_list = []
my_list

[1, 2, 3, 4, 5, 6]

In [113]:
for x in my_list:                                     # TRADİONAL FOR LOOP 
    if x % 2 != 0:
        new_list.append(x**2)
print(new_list)

[1, 9, 25]

In [117]:
print([x**2 for x in my_list if x % 2 != 0])         # LİST COMPREHENSİON STYLE İMPORTANT FOR WRİTİNG COMMAND SHORTLY

[1, 9, 25]

In [1]:
numbers = list(map(int,input("enter five numbers :  ").split()))
sec_max = sorted(set(numbers))[-2]
print(numbers)
print(set(numbers))
print(sorted(set(numbers)))
print(sec_max)

enter five numbers :  -3 8 9 -5 8 -9
[-3, 8, 9, -5, 8, -9]
{8, 9, -9, -5, -3}
[-9, -5, -3, 8, 9]
8

In [4]:
a = int(input("enter number :"))
if a > 0:
  print("positive")
elif a < 0:
  print("negative")
elif a == 0 :
  print("number is zero")

enter number :0
number is zero

In [7]:
email = "klmn@clarusway.com"
pswrd = "d999"
ent_mail = input("enter mail : ")
ent_pswrd = input("enter password :")

if (ent_mail != email and ent_pswrd == pswrd) :
  print("wrong email address")
elif(ent_mail == email and ent_pswrd != pswrd) :
  print("wrong password")
elif(ent_mail != email and ent_pswrd != pswrd) :
  print("wrong email and password")
else:
  print("login successful")

enter mail : klmn@clarusway.com
enter password :d999
login successful

In [29]:
audience_group = 'kid', 'teen', 'adult'
audience = "baby"
if audience in audience_group :
    if audience == "kid":
        print("it is free to go to cinema")
    elif audience == "teen":
        print("discounted price!")
    else: # audience == "adult":
        print("normal price")
else:
    print("No such audience, stay at your home!")

No such audience, stay at your home!

In [ ]:
score = int (input("Enter your score :"))
if score >= 90:
    if score >= 95:
        Score_letter="A+"
    else:
        Score_letter="A"
elif score >= 80:
    if score >= 85:
        Score_letter="B+"
    else:
        Score_letter="B"
else:
    Score_letter="below B"

print ("Your degree: %s" % Score_letter)

In [34]:
a = set("dolphin")
b= set("fhilps")
a-b

{'d', 'n', 'o'}

In [35]:
bool(set())

False

In [36]:
bool(a-b)

True

In [37]:
 a | b

{'d', 'f', 'h', 'i', 'l', 'n', 'o', 'p', 's'}

In [38]:
 a | b ==b | a

True

In [39]:
a & b

{'h', 'i', 'l', 'p'}

In [46]:
date = "11/04/2021"
set(date)

{'/', '0', '1', '2', '4'}

In [42]:
{date}

{'11/04/2021'}

In [43]:
list(date)

['1', '1', '/', '0', '4', '/', '2', '0', '2', '1']

In [51]:
capt_USA = set("Washington")
capt_NewZeland = set("Wellington")

In [52]:
capt_USA - capt_NewZeland

{'a', 'h', 's'}

In [53]:
capt_NewZeland - capt_USA

{'e', 'l'}

In [54]:
capt_USA & capt_NewZeland

{'W', 'g', 'i', 'n', 'o', 't'}

In [55]:
capt_USA | capt_NewZeland

{'W', 'a', 'e', 'g', 'h', 'i', 'l', 'n', 'o', 's', 't'}

In [56]:
given_list  = [1,2,3,3,3,3,4,4,5,6,5]
set(given_list)

{1, 2, 3, 4, 5, 6}

In [58]:
sayılar = [1,2,3,4,5]
print(sayılar[1])

2

In [59]:
a = 3
b = 0

In [60]:
b > a

False

In [63]:
if "0" :
    print("hello world")
print("print me in all cases")

hello world
print me in all cases

In [62]:
bool("0")

True

In [67]:
if "0" and "" :
    print("hello world")
else:
    print("print me in all cases")

print me in all cases

In [68]:
if 0 or "False" and None :
   print("hello world")
else:
    print("print me in all cases")

print me in all cases

In [71]:
if [""] :
  print("hello")

hello

In [72]:
minced = True
bread = True
#green
lettuce = True
onion  = True
grocer = True

In [74]:
hamburger = (minced and grocer and bread) and (lettuce or onion)
if hamburger :
  print("Bon Appetit")

Bon Appetit

In [75]:
1==1.0

True

In [76]:
3>3

False

In [77]:
3>=3

True

In [78]:
"ali" == "ali"

True

In [79]:
"ali" == "Ali"

False

In [80]:
"ali" != "Ali"

True

In [81]:
12<12.1

True

In [94]:
set1 = set("ELEVEN PLUS TWO")
set2 = set("TWELWE PLUS ONE")

if set1 == set2:
    print("we are the same!")
else: 
    print(1)

1

In [4]:
type(input("bir şey yaz  : "))

bir şey yaz  : bir şey

str

In [17]:
Yes = True
No = False
bool(input("Please enter a word (Yes or No) : "))
print("you entered", a)

Please enter a word (Yes or No) : No
you entered True

In [22]:
a = int(input("bir sayı girin  : "))
if (a%2) == 0:
  print(a, "is even")
else:
  print(a,"is odd" )

bir sayı girin  : 25
25 is odd

In [27]:
num = float(input("Enter positive or negative number : "))
if num >= 0:
  print("You entered positive number")
else :
  print("you entered negative number")

Enter positive or negative number : 0
You entered positive number

In [24]:
float("-33")

-33.0

In [32]:
num1 = float(input("Enter first number  : "))
num2 = float(input("Enter second number : "))
if num1 > num2:
    print("The Large number is", num1)
else:
    print("The Large number is", num2)

Enter first number  : 45
Enter second number : 78
The Large number is 78

In [11]:
convert = input("Please enter a word (Yes or No) : ").title().strip() == "Yes"

Please enter a word (Yes or No) : No

In [12]:
convert

False

In [13]:
print("You entered", convert)

You entered False

In [16]:
(1,1.0,'ad')

(1, 1.0, 'ad')